header figure img {
    width: 146px;
    height: 163px;
    margin-left: 30px;
    margin-top: 5px;
}
header figure h1 {
    width: 662px;

        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        margin: auto;
        color: rgb(197, 31, 31);
    

}
header figure nav{
    position :sticky;
    top: 0;
}
.header-content{
    display: flex; /* Utilizar flexbox para los elementos internos */
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Centrar los elementos verticalmente */
    background-color: #eee42d;
    margin-bottom: 0px !important;

}

nav{
    background-color: #eee42d;
    text-align: center;
    position: sticky;
    top: 50;
}
*{
    margin: 0 ;
    padding: 0 ;
}

nav ul {
    list-style: none;
}
li {
    font-family: 'Lilita One';
    display: inline-block; /* Mostrar los elementos <li> en línea */
    
}
li a{


    /*display: block;*/
    color: rgb(17 55 167);
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
}
.slogan{
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  text-align: center;
    font-size:30px;
}
.bg-ligth{
    background-color: antiquewhite;
}
.bg-ligth:hover {
    background-color:rgb(255, 255, 255);
}


.pagina-principal img{
    width: 100%;
    transition: 0.5s;
}
.pagina-principal:hover img{
    width: 102%;
    transition: 0.5s;
}
.carousel-inner,
.carousel-item {
    width: 100%;
    height: 500px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}
.product-card{
    background-color: #666774;
    
}
.product-card img{
    width: 100%;
    transition: 0.5s;
    object-fit: cover ;
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}
.btn-btn{
    border:1px solid #f1f1fa;
}
footer {
    background-color: #000853;
    color: antiquewhite;
    
}
